.card__header {
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  color: var(--secondary-color);
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms, transform 500ms;
}
