.column {
  max-width: calc(50% - 40px);
  margin: 0 0 40px 0;
}

@media (max-width: 1260px) {
  .column {
    max-width: initial;
    margin: 0 0 70px 0;
  }
}

@media (max-width: 700px) {
  .column {
    margin: 0 0 30px 0;
  }
}