.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  padding: 0 178px;
  transition: all 200ms;
  box-sizing: border-box;
}

.container:first-of-type {
  margin-top: 8.64%;
}

.container:last-of-type {
  margin-bottom: 8.64%;
}

@media (max-width: 1260px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 700px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30px;
    max-width: calc(100% - 60px);
  }
}