.project__text-block_cost {
  width: 20%;
  min-width: 240px;
  margin-left: auto;
}

@media (max-width: 1000px) {
  .project__text-block_cost {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .project__text-block_cost {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}