.card__subtitle {
  margin: 0 0 20px 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 35px;
}

@media (max-width: 1200px) {
  .card__subtitle {
    margin: 0 0 15px 0;
    font-size: 14px;
    line-height: 22px;
  }
}

@media (max-width: 700px) {
  .card__subtitle {
    font-size: 12px;
    line-height: 18px;
  }
}
