.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 70px;
  margin-top: auto;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: var(--main-color);
  background-color: #201d1e;
}

@media (max-width: 1000px) {
  .footer {
    height: 50px;
    padding: 0 40px;
  }
}

@media (max-width: 700px) {
  .footer {
    height: 42px;
    padding: 0 30px;
    font-size: 10px;
    line-height: 12px;
  }
}