.title_small {
  font-size: 28px;
  line-height: 34px;
}

@media (max-width: 1000px) {
  .title_small {
    font-size: 21px;
    line-height: 26px;
  }
}

@media (max-width: 700px) {
  .title_small {
    font-size: 16px;
    line-height: 20px;
  }
}