.project__text-block {
  margin-bottom: 80px;
  width: 50%;
}

@media (max-width: 1000px) {
  .project__text-block {
    margin-bottom: 40px;
  }
}

@media (max-width: 700px) {
  .project__text-block {
    margin-bottom: 20px;
    width: 100%;
  }
  .project__text-block_cost {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.project__text-block_timeline,
.project__text-block_cost {
  width: 20%;
  min-width: 240px;
  margin-left: auto;
}

@media (max-width: 1000px) {
  .project__text-block_cost {
    width: 100%;
  }

  .project__text-block_description {
    width: 100%;
  }
}

