
.form {
  display: flex;
  flex-direction: column;
  width: 580px;
}

@media (max-width: 1000px) {
  .form {
    width: 450px;
  }
}

@media (max-width: 700px) {
  .form {
    width: 260px;
  }
}

.feedback .form {
  max-width: 64%;
  margin-right: 80px;
}

@media (max-width: 1300px) {
  .feedback .form {
    max-width: initial;
    margin-right: 0;
  }
}

.form__full {
  width: 100%;
}