.support__text {
  margin-right: 20px;
}

@media (max-width: 700px) {
  .support__text {
    margin-right: 15px;
  }
}

.support__link {
  font-weight: bold;
  text-decoration: none;
  color: var(--main-color);
}

.support__link:focus {
  outline: var(--main-color) dotted 1px;
}

.support__link:hover {
  text-decoration: underline;
}