.project-info__count {
  position: absolute;
  top: -0.4em;
  left: 50%;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 20.8vw;
  line-height: 1;
  color: #ffffff;
  transform: translateX(-50%);
  z-index: -1;
}

@media (max-width: 1000px) {
  .project-info__count {
    font-size: 39.6vw;
    line-height: 47.6vw;
  }
}