.project-info__title {
  margin-bottom: 40px;
}

@media (max-width: 1000px) {
  .project-info__title {
    margin-bottom: 20px;
  }
}

@media (max-width: 700px) {
  .project-info__title {
    margin-bottom: 10px;
  }
}