@import 'feedback__title.css';

.feedback {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  padding: 80px;
  background-color: #292929;
  box-sizing: border-box;
}

@media (max-width: 1300px) {
  .feedback {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 1000px) {
  .feedback {
    padding: 70px 40px;
  }
}

@media (max-width: 700px) {
  .feedback {
    padding: 30px;
  }
}
