@import "normalize.css";
@import "toggle.css";
@import "button.css";
@import "bubble-button.css  ";
@import "label.css";
@import "input-field.css";

.page {
  margin: 0;
  background-color: #F9F3F0;
  cursor: url('/assets/icon/cursor.png') 6 6,auto;
  cursor: url('/assets/icon/cursor.svg') 6 6,auto;
  cursor: -webkit-image-set(url('/assets/icon/cursor.png') 1x,url('/assets/icon/cursor@2x.png') 2x) 6 6,auto;
}

::selection {
  background: #000;
  color: #fff;
}

.form-field {
  display: flex;
  align-items: center;
}