.project {
  display: flex;
  flex-direction: column;
  width: 85.45vw;
}

@media (max-width: 1000px) {
  .project {
    width: 89.58vw;
  }
}

@media (max-width: 700px) {
  .project {
    width: 81.25vw;
  }
}
