@import 'component-logo__mask.css';
@import 'component-logo__video.css';

.component-logo {
  position: relative;
  --componet-logo-width: calc(var(--window-width) - 52.6042vw);
  width: var(--componet-logo-width);
  height: calc(var(--componet-logo-width) / 1.41);
  transform: translateY(calc(var(--header-height) * -1));
  transition: transform 200ms;
  overflow: hidden;
}

@media (max-width: 1000px) {
  .component-logo {
    --componet-logo-width: calc(var(--window-width) - 23.1771vw);
  }
}

@media (max-width: 700px) {
  .component-logo {
    position: absolute;
    bottom: 75px;
    --componet-logo-width: calc(var(--window-width) - 28.125vw);
    transform: translateY(0);
  }
}
