@import 'normalize.css';
@import 'header/header.css';
@import 'button.css';
@import 'bubble-button.css';
@import 'feedback.css';
@import 'form/form.css';
@import 'footer/footer.css';
@import 'md.css';

.page {
  margin: 0;
  background-color: #F9F3F0;
  cursor: url('/assets/img/icons/cursors/cursor.png') 6 6,auto;
  cursor: url('/assets/img/icons/cursors/cursor.svg') 6 6,auto;
  cursor: -webkit-image-set(url('/assets/img/icons/cursors/cursor.png') 1x,url('/assets/img/icons/cursors/cursor@2x.png') 2x) 6 6,auto;
}

::selection {
  background: #000;
  color: #fff;
}

a {
  cursor: url('/assets/img/icons/cursors/cursor_active.png') 10 10,pointer;
  cursor: url('/assets/img/icons/cursors/cursor_active.svg') 10 10,pointer;
  cursor: -webkit-image-set(url('/assets/img/icons/cursors/cursor_active.png') 1x, url('/assets/img/icons/cursors/cursor_active@2x.png') 2x) 10 10,pointer;
}