@import 'normalize.css';
@import 'variables.css';
/** link **/
@import 'link.css';
/** List **/
@import 'list/list.css';
@import 'list/list__item.css';
/** Title **/
@import 'title/title.css';
@import 'title/title_high.css';
@import 'title/title_small.css';
@import 'title/title_large.css';
/** Text **/
@import 'text/text.css';
@import 'text/text_wide.css';
@import 'text/text_small.css';
@import 'text/text_medium.css';
@import 'text/text_large.css';
@import 'text/text_huge.css';
/** Container **/
@import 'container/container.css';
/** column **/
@import 'column/column.css';
/** header **/
@import 'header/header.css';
@import 'header/logo/logo.css';
@import 'header/logo/logo__img.css';
@import 'header/toolbar.css';
@import 'header/social/social.css';
@import 'header/social/social__item.css';
@import 'header/menu/menu.css';
@import 'header/menu/menu__item.css';
/** button **/
@import 'button/button.css';
@import 'button/_dark/button_dark.css';
@import 'button/_large/button_large.css';
@import 'button/_transparent/button_transparent.css';
/** bubble button **/
@import 'bubble-button.css';
/** face **/
@import 'face/face.css';
@import 'face/face__content.css';
@import 'face/face__title.css';
@import 'face/face__subtitle.css';
@import 'face/face__count.css';
@import 'face/face__hint.css';
@import 'face/face__lang.css';
@import 'face/lang-toggle.css';
@import 'face/version.css';
@import 'face/face__version.css';
/** component logo **/
@import 'component-logo/component-logo.css';
@import 'component-logo/component-logo__mask.css';
@import 'component-logo/component-logo__video.css';
/** card **/
@import "card/card.css";
/** service **/
@import 'service/service.css';
@import 'service/service__card.css';
/** feedback **/
@import 'feedback/feedback.css';
@import 'feedback/feedback__title.css';
/** form **/
@import 'form/form.css';
@import 'form/form__header.css';
@import 'form/form__title.css';
@import 'form/form__group.css';
@import 'form/form__toggle-group.css';
@import 'form/input-field.css';
@import 'form/label.css';
@import 'form/toggle.css';
@import 'form/form__footer.css';
/** footer **/
@import 'footer/footer.css';
@import 'footer/copyright.css';
@import 'footer/support.css';
/** modal dialogs **/
@import 'md.css';
/** Contacts **/
@import 'contacts/contacts.css';

* {
  cursor: url('/images/icons/cursors/cursor.png') 6 6, auto;
  cursor: url('/images/icons/cursors/cursor.svg') 6 6, auto;
  cursor: -webkit-image-set(url('/images/icons/cursors/cursor.png') 1x, url('/images/icons/cursors/cursor@2x.png') 2x) 6 6, auto;
}

::selection {
  background: #000;
  color: #fff;
}

a,
button,
input[type="submit"] {
  cursor: url('/images/icons/cursors/cursor_active.png') 10 10, pointer;
  cursor: url('/images/icons/cursors/cursor_active.svg') 10 10, pointer;
  cursor: -webkit-image-set(url('/images/icons/cursors/cursor_active.png') 1x, url('/images/icons/cursors/cursor_active@2x.png') 2x) 10 10, pointer;
}

.page {
  margin: 0;
  background-color: #f9f3f0;
}

.main-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: calc(100vh - var(--header-height));
  max-width: 1736px;
  margin: 0 auto;
}
