.toggle__native-element {
    position: absolute;
    z-index: 1;
    width: 55px;
    height: 27px;
    opacity: 0;
}

@media (max-width: 1000px) {
    .toggle__native-element {
        width: 45px;
        height: 22px;
    }
}

.toggle_narrow .toggle__native-element {
    width: 40px;
    height: 12px;
}

.toggle__native-element.hide {
    height: 0;
    width: 0;
}
