.social__item {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: var(--secondary-color);
  text-decoration: none;
  box-sizing: border-box;
}

.social__item:focus {
  outline: var(--secondary-color) dotted 1px;
}

.social__item::after {
  content: '/';
  margin: 0 7px;
}

.social__item:last-child::after {
  display: none;
}
